ul li a {
  color: black;
  background-color: none;
  font-size: 1.2rem;
}

ul li a:hover {
  text-decoration: none;

}

.link {
  height: 1.5rem;
  width: 1.5rem;
  &:hover{
    text-decoration: none;
    color: #529ce8;

  }
}

nav {
  position: fixed;
  top: 0;
  background: none;
  display: flex;
  gap: 76%;
  width: 100%;
}

ul {
  list-style-type: none;
  left: 0;
  justify-content: right;
  display: flex;
  gap: 1em;
}

.nav-bar {
  position: sticky;
  box-shadow: .1rem 0 1rem -.8rem rgba(45,45,45,.3);
  justify-content: left;
  top: 0;
  width: 100%;
  background: white;
  z-index: 9998;
}


.nav-content p.title {
  margin: 1.5vh 0px 0px 1vw;
}

.brand {
  margin-left: 1vw;
}

.nav-content {
  height: 6vh;
}

.title {
  font-family: 'Roboto Mono', monospace;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 22px;
  z-index: 9999;
}

a {
  text-decoration: none;
}

@media (max-width: 2300px) {
  nav {
    gap: 75%;
  }
}

@media (max-width: 2150px) {
  nav {
    gap: 74%;
  }
}

@media (max-width: 2085px) {
  nav {
    gap: 72%;
  }
}

@media (max-width: 1915px) {
  nav {
    gap: 70%;
  }
}

@media (max-width: 1600px) {
  nav {
    gap: 65%;
  }
}

@media (max-width: 1300px){
  nav {
    gap: 55%;
  }
}